<header>
    <nav class="header-nav">
      <a class="header-title" href="/">My Daily Tasks</a>
      <ul>
        <li><a href="/todos">To-Do Tasks</a></li>
        <li><a href="/todos/new">Add New Task</a></li>
      </ul>
    </nav>
  </header>