<!DOCTYPE html>
<body>
<div class="form-row">
    <div class="form-item">
      <label>Task</label>
      <input type="text" name="name" value="<%= locals.todo.name%>" />
    </div>
  </div>
</body>
</html>